{% extends 'ShopBundle::main_layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>{{ category.name }}</h1>
        {% for product in products %}
            <div class="thumbnail">

                <img src="{{ asset("bundles/shop/images/uploads/products/") ~ product.imageName }}.jpg" alt="">
                <div class="caption">
                    <h3>{{ product.name }}</h3>
                    <p>Цена: {{ product.price }}</p>
                    <p>Призводитель: {{ product.producers.name }}</p>
                    {% if product.description is not empty %}
                        <p>{{ product.description }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}