{% extends '@Shop/main_layout.html.twig' %}

{% block content %}
    <div class="container">
        <table class="table table-bordered">
            <caption class="text-center"><h3>Ваша корзина</h3></caption>
            <tr class="info">
                <th rowspan="2">№П/П</th>
                <th rowspan="2">Наименование <br> товара</th>
                <th rowspan="2">Производитель</th>
                <th rowspan="2">Количество</th>
                <th colspan="2">Цена</th>
                <th rowspan="2"></th>
            </tr>
            <tr class="info">
                <td>за шт.</td>
                <td>сума</td>
            </tr>

            {% for b in basket %}
                <tr id="product_{{ b.id }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ b.product.name }}</td>
                    <td>{{ b.product.producer.name }}</td>
                    <td><input type="number" min="1" max="100" value="{{ b.quantity }}"
                               data-productid="{{ b.id }}"
                               data-saved-quantity="{{ b.quantity }}">
                        <button id="saveQuantity_{{ b.id }}" class="btn btn-success btn-xs disabled" title="Сохранить изменения">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td id="productPrice_{{ b.id }}">{{ b.product.price }}</td>
                    {% set price = b.quantity * b.product.price %}
                    <td class="summaryPrice" id="summaryPrice_{{ b.id }}">{{ price }}</td>
                    <td>
                        <button class="removeFromBasket btn btn-danger"
                            data-productid="{{ b.id }}"
                            data-token="{{ csrf_token(b.id+app.user.id) }}">
                            Удалить
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="6"></td>
                <td>Стоимость заказа:<br><span id="orderCost"></span></td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $.routes = {
            removeFromBasketURL: "{{ path("shop_remove_from_basket") }}"
        };
    </script>
    <script src="{{ asset('bundles/shop/js/helpers/productHelper.js') }}"></script>
    <script src="{{ asset('bundles/shop/js/helpers/customerHelper.js') }}"></script>
    <script src="{{ asset('bundles/shop/js/profile.js') }}"></script>
{% endblock %}