<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Интернет магазин{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/shop/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/shop/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/shop/bootstrap/css/font-awesome.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}

    <div class="navbar navbar-inverse navbar-static-top" id="main_menu">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('admin_homepage') }}" class="navbar-brand">Интернет магазин</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav">
                    <li><a class="main-menu-links" href="{{ path('shop_homepage') }}">Главная</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle main-menu-links" data-toggle="dropdown">Категории <b
                                    class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for  category in categories %}
                                <li><a href="{{ path('shop_show_product', { 'id': category.id } ) }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a class="main-menu-links" href="#">Поиск</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') is empty %}
                        <li><a class="main-menu-links" href="{{ path('shop_registration') }}">Регистрация</a></li>
                        <li>
                            <form action="{{ path('shop_login') }}" method="post" class="form-inline">
                                <div class="form-group">
                                    <label for="forEmail" class="sr-only">Email: </label>
                                    <input type="email" class="form-control" name="_username" placeholder="Email"
                                           id="forEmail">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="forPassword">Пароль:</label>
                                    <input type="password" class="form-control" name="_password" id="forPassword" placeholder="Пароль">
                                </div>
                                <button type="submit" class="btn btn-success">Войти</button>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                                {#{% if error is not empty %}#}
                                    {#<p class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>#}
                                {#{% endif %}#}
                            </form>
                        </li>
                    {% else %}
                        <li><a class="main-menu-links" href="{{ path('shop_customer_profile') }}">Моя корзина <i class="fa fa-shopping-cart fa-lg"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/shop/js/jquery-1.12.3.js') }}"></script>
    <script src="{{ asset('bundles/shop/bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>